<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loopnow.apm">

    <application>
        <provider
            android:name="com.loopnow.apm.startup.LauncherHelpProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:multiprocess="true" />
        <receiver android:name="com.loopnow.apm.battery.BatteryLevelReceiver" />
        <service android:name="com.loopnow.apm.startup.HelpService" />
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>